<div class="panel-heading">
  <h4 class="panel-title">Orders<span class="glyphicon glyphicon-filter myBadge" aria-hidden="true"></span></h4>
</div>
<div class="panel-body myPanelContent">
  <table class="table">
    <tr>
      <td><div class="row myRow"><b><span class="order">Order 1</span><span class="orderQuantity">##</span></b></div><h6>Some very detailed summary instructions...</h6></td>
    </tr>
    <tr>
      <td><div class="row myRow"><b><span class="order">Order 2</span><span class="orderQuantity">##</span></b></div><h6>Some very detailed summary instructions...</h6></td>
    </tr>
    <tr>
      <td><div class="row myRow"><b><span class="order">Order 3</span><span class="orderQuantity">##</span></b></div><h6>Some very detailed summary instructions...</h6></td>
    </tr>
    <tr>
      <td><div class="row myRow"><b><span class="order">Order 4</span><span class="orderQuantity">##</span></b></div><h6>Some very detailed summary instructions...</h6></td>
    </tr>
  </table>
</div>
